In [1]:
import os

from tflite_model_maker import ExportFormat
from tflite_model_maker import model_spec
from tflite_model_maker import object_detector

import tensorflow as tf
tf.get_logger().setLevel('ERROR')
from absl import logging
logging.set_verbosity(logging.ERROR)

import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer

In [2]:
def get_set(path):
    data = pd.DataFrame(columns=['filepath', 'class_color', 'class_num', 'class_shape', 'class_shade'])
    for dirpath, subdirs, files in os.walk(path):
        for file in files:
            filepath = os.path.relpath(os.path.join(dirpath, file))
            strpath = str(filepath).split('\\')
            class_num = strpath[-5]
            class_color = strpath[-4]
            class_shape = strpath[-3]
            class_shade = strpath[-2]
            row = pd.DataFrame({'filepath': filepath,
                             'class_color': class_color,
                             'class_num': class_num,
                             'class_shape': class_shape,
                             'class_shade': class_shade},
                               columns=['filepath', 'class_color', 'class_num', 'class_shape', 'class_shade'],
                               index=[0])
            data = pd.concat([data, row], ignore_index=True)
    return data

data_panda = get_set('./dataSET')
display(data_panda.head(50))

,filepath,class_color,class_num,class_shape,class_shade
0,dataSET\one\green\diamond\empty\101.png,green,one,diamond,empty
1,dataSET\one\green\diamond\empty\120.png,green,one,diamond,empty
2,dataSET\one\green\diamond\empty\172.png,green,one,diamond,empty
3,dataSET\one\green\diamond\empty\189.png,green,one,diamond,empty
4,dataSET\one\green\diamond\empty\2.png,green,one,diamond,empty
5,dataSET\one\green\diamond\empty\205.png,green,one,diamond,empty
6,dataSET\one\green\diamond\empty\222.png,green,one,diamond,empty
7,dataSET\one\green\diamond\empty\254.png,green,one,diamond,empty
8,dataSET\one\green\diamond\empty\286.png,green,one,diamond,empty
9,dataSET\one\green\diamond\empty\31.png,green,one,diamond,empty
10,dataSET\one\green\diamond\empty\325.png,green,one,diamond,empty
11,dataSET\one\green\diamond\empty\381.png,green,one,diamond,empty
12,dataSET\one\green\diamond\empty\4.png,green,one,diamond,empty
13,dataSET\one\green\diamond\empty\452.png,green,one,diamond,empty
14,dataSET\one\green\diamond\empty\494.png,green,one,diamond,empty
15,dataSET\one\green\diamond\empty\513.png,green,one,diamond,empty
16,dataSET\one\green\diamond\empty\585.png,green,one,diamond,empty
17,dataSET\one\green\diamond\empty\65.png,green,one,diamond,empty
18,dataSET\one\green\diamond\empty\74.png,green,one,diamond,empty
19,dataSET\one\green\diamond\empty\old (16).png,green,one,diamond,empty
20,dataSET\one\green\diamond\empty\tytyt (122).png,green,one,diamond,empty
21,dataSET\one\green\diamond\empty\tytyt (198).png,green,one,diamond,empty
22,dataSET\one\green\diamond\empty\tytyt (62).png,green,one,diamond,empty
23,dataSET\one\green\diamond\empty\z (5).png,green,one,diamond,empty
24,dataSET\one\green\diamond\full\148.png,green,one,diamond,full
25,dataSET\one\green\diamond\full\169.png,green,one,diamond,full
26,dataSET\one\green\diamond\full\171.png,green,one,diamond,full
27,dataSET\one\green\diamond\full\173.png,green,one,diamond,full
28,dataSET\one\green\diamond\full\188.png,green,one,diamond,full
29,dataSET\one\green\diamond\full\21.png,green,one,diamond,full
30,dataSET\one\green\diamond\full\215.png,green,one,diamond,full
31,dataSET\one\green\diamond\full\279.png,green,one,diamond,full
32,dataSET\one\green\diamond\full\28.png,green,one,diamond,full
33,dataSET\one\green\diamond\full\299.png,green,one,diamond,full
34,dataSET\one\green\diamond\full\339.png,green,one,diamond,full
35,dataSET\one\green\diamond\full\34.png,green,one,diamond,full
36,dataSET\one\green\diamond\full\357.png,green,one,diamond,full
37,dataSET\one\green\diamond\full\40.png,green,one,diamond,full
38,dataSET\one\green\diamond\full\405.png,green,one,diamond,full
39,dataSET\one\green\diamond\full\5.png,green,one,diamond,full
40,dataSET\one\green\diamond\full\505.png,green,one,diamond,full
41,dataSET\one\green\diamond\full\566.png,green,one,diamond,full
42,dataSET\one\green\diamond\full\66.png,green,one,diamond,full
43,dataSET\one\green\diamond\full\old (87).png,green,one,diamond,full
44,dataSET\one\green\diamond\full\tytyt (208).png,green,one,diamond,full
45,dataSET\one\green\diamond\full\tytyt (248).png,green,one,diamond,full
46,dataSET\one\green\diamond\full\tytyt (36).png,green,one,diamond,full
47,dataSET\one\green\diamond\full\tytyt (9).png,green,one,diamond,full
48,dataSET\one\green\diamond\partial\115.png,green,one,diamond,partial
49,dataSET\one\green\diamond\partial\188.png,green,one,diamond,partial

In [9]:
data = get_set('./dataSET')

mlb = MultiLabelBinarizer(classes=('red','green','purple','one','two','three','empty','partial','full','diamond','oval','squiggle'))
labels = mlb.fit_transform(data[data.columns[1:]].values)
label_frame = pd.DataFrame({key : row for key, row in zip(mlb.classes, labels.T)})
binarized_data = pd.concat((data['filepath'], label_frame), axis=1)

display(binarized_data.head(50))
binarized_data.to_csv('labels.csv', index=False)

,filepath,red,green,purple,one,two,three,empty,partial,full,diamond,oval,squiggle
0,dataSET\one\green\diamond\empty\101.png,0,1,0,1,0,0,1,0,0,1,0,0
1,dataSET\one\green\diamond\empty\120.png,0,1,0,1,0,0,1,0,0,1,0,0
2,dataSET\one\green\diamond\empty\172.png,0,1,0,1,0,0,1,0,0,1,0,0
3,dataSET\one\green\diamond\empty\189.png,0,1,0,1,0,0,1,0,0,1,0,0
4,dataSET\one\green\diamond\empty\2.png,0,1,0,1,0,0,1,0,0,1,0,0
5,dataSET\one\green\diamond\empty\205.png,0,1,0,1,0,0,1,0,0,1,0,0
6,dataSET\one\green\diamond\empty\222.png,0,1,0,1,0,0,1,0,0,1,0,0
7,dataSET\one\green\diamond\empty\254.png,0,1,0,1,0,0,1,0,0,1,0,0
8,dataSET\one\green\diamond\empty\286.png,0,1,0,1,0,0,1,0,0,1,0,0
9,dataSET\one\green\diamond\empty\31.png,0,1,0,1,0,0,1,0,0,1,0,0
10,dataSET\one\green\diamond\empty\325.png,0,1,0,1,0,0,1,0,0,1,0,0
11,dataSET\one\green\diamond\empty\381.png,0,1,0,1,0,0,1,0,0,1,0,0
12,dataSET\one\green\diamond\empty\4.png,0,1,0,1,0,0,1,0,0,1,0,0
13,dataSET\one\green\diamond\empty\452.png,0,1,0,1,0,0,1,0,0,1,0,0
14,dataSET\one\green\diamond\empty\494.png,0,1,0,1,0,0,1,0,0,1,0,0
15,dataSET\one\green\diamond\empty\513.png,0,1,0,1,0,0,1,0,0,1,0,0
16,dataSET\one\green\diamond\empty\585.png,0,1,0,1,0,0,1,0,0,1,0,0
17,dataSET\one\green\diamond\empty\65.png,0,1,0,1,0,0,1,0,0,1,0,0
18,dataSET\one\green\diamond\empty\74.png,0,1,0,1,0,0,1,0,0,1,0,0
19,dataSET\one\green\diamond\empty\old (16).png,0,1,0,1,0,0,1,0,0,1,0,0
20,dataSET\one\green\diamond\empty\tytyt (122).png,0,1,0,1,0,0,1,0,0,1,0,0
21,dataSET\one\green\diamond\empty\tytyt (198).png,0,1,0,1,0,0,1,0,0,1,0,0
22,dataSET\one\green\diamond\empty\tytyt (62).png,0,1,0,1,0,0,1,0,0,1,0,0
23,dataSET\one\green\diamond\empty\z (5).png,0,1,0,1,0,0,1,0,0,1,0,0
24,dataSET\one\green\diamond\full\148.png,0,1,0,1,0,0,0,0,1,1,0,0
25,dataSET\one\green\diamond\full\169.png,0,1,0,1,0,0,0,0,1,1,0,0
26,dataSET\one\green\diamond\full\171.png,0,1,0,1,0,0,0,0,1,1,0,0
27,dataSET\one\green\diamond\full\173.png,0,1,0,1,0,0,0,0,1,1,0,0
28,dataSET\one\green\diamond\full\188.png,0,1,0,1,0,0,0,0,1,1,0,0
29,dataSET\one\green\diamond\full\21.png,0,1,0,1,0,0,0,0,1,1,0,0
30,dataSET\one\green\diamond\full\215.png,0,1,0,1,0,0,0,0,1,1,0,0
31,dataSET\one\green\diamond\full\279.png,0,1,0,1,0,0,0,0,1,1,0,0
32,dataSET\one\green\diamond\full\28.png,0,1,0,1,0,0,0,0,1,1,0,0
33,dataSET\one\green\diamond\full\299.png,0,1,0,1,0,0,0,0,1,1,0,0
34,dataSET\one\green\diamond\full\339.png,0,1,0,1,0,0,0,0,1,1,0,0
35,dataSET\one\green\diamond\full\34.png,0,1,0,1,0,0,0,0,1,1,0,0
36,dataSET\one\green\diamond\full\357.png,0,1,0,1,0,0,0,0,1,1,0,0
37,dataSET\one\green\diamond\full\40.png,0,1,0,1,0,0,0,0,1,1,0,0
38,dataSET\one\green\diamond\full\405.png,0,1,0,1,0,0,0,0,1,1,0,0
39,dataSET\one\green\diamond\full\5.png,0,1,0,1,0,0,0,0,1,1,0,0
40,dataSET\one\green\diamond\full\505.png,0,1,0,1,0,0,0,0,1,1,0,0
41,dataSET\one\green\diamond\full\566.png,0,1,0,1,0,0,0,0,1,1,0,0
42,dataSET\one\green\diamond\full\66.png,0,1,0,1,0,0,0,0,1,1,0,0
43,dataSET\one\green\diamond\full\old (87).png,0,1,0,1,0,0,0,0,1,1,0,0
44,dataSET\one\green\diamond\full\tytyt (208).png,0,1,0,1,0,0,0,0,1,1,0,0
45,dataSET\one\green\diamond\full\tytyt (248).png,0,1,0,1,0,0,0,0,1,1,0,0
46,dataSET\one\green\diamond\full\tytyt (36).png,0,1,0,1,0,0,0,0,1,1,0,0
47,dataSET\one\green\diamond\full\tytyt (9).png,0,1,0,1,0,0,0,0,1,1,0,0
48,dataSET\one\green\diamond\partial\115.png,0,1,0,1,0,0,0,1,0,1,0,0
49,dataSET\one\green\diamond\partial\188.png,0,1,0,1,0,0,0,1,0,1,0,0

In [5]:
low_latency_spec = model_spec.get('efficientdet_lite0')
high_precision_spec = model_spec.get('efficientdet_lite4')

In [14]:
def train(spec):
    train_data, validation_data, test_data = object_detector.DataLoader.from_csv('labels.csv')
    display(train_data, validation_data, test_data)
    return object_detector.create(train_data, model_spec=spec, train_whole_model=True, validation_data=validation_data)
    
low_latency_model = train(low_latency_spec)
high_precision_spec = train(high_precision_spec)

NotFoundError: NewRandomAccessFile failed to Create/Open: ./ldafasv : The system cannot find the file specified.
; No such file or directory